@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
	url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: yellowgreen;
}

h1, h2 {
	color: #cc6600;
	border-bottom: thin dotted #888888;
}

h1 {
	font-family: "Emblema One", sans-serif;
	font-size: 220%;
	color: blue;
	font-style: italic;
}

h2 {
	font-size: 1.30em;
	font-weight: bold;
	font-style: italic;
}

blockquote {
	font-style: oblique;
}

table {
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid black;
	caption-side: bottom;
	/*border-collapse: collapse;*/
	border-spacing: 0px;
}
td, th {
	border: thin dotted gray;
	padding: 5px;
}
caption {
	font-style: italic;
	padding-top: 8px;
}
th{
	background-color: #cc6600;
}
/*tr:nth-child(odd) {
	background-color: red;
}*/
/*tr:nth-child(2n+1) {
	background-color: green;
}*/
.cellcolor {
	background-color: #fcba7a;
}
table table th {
	background-color: white;
}

/*li {
	list-style-type: square;
}*/
li {
	list-style-image: url(backpack.gif);
	padding-top: 5px;
	margin-left: 20px;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}